.btn {
  all: unset;
  padding: 0.5rem 1.5rem;
  background-color: var(--text);
  color: var(--main);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: var(--active);
}
