.edit {
  min-height: 100vh;
  width: 100vw;
  gap: 2rem;
  display: grid;
  place-content: center;
}

.status {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn_container {
  display: flex;
  gap: 1rem;
}
