* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Consolas;
  min-height: 100vh;
  font-size: 18px;
  font-weight: bold;
  color: rgb(191, 202, 198);
  background: linear-gradient(45deg, #1a2723, #080a09);
}
